@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply min-h-screen;
  }

  body {
    @apply m-0 bg-white text-black dark:bg-black dark:text-white;
  }
}
